:root {
--couleur-primaire : #5f1e99;
}

body{
background-color: black;}
                
h1{color: #5f1e99; font-size: 1.6em;}
                
h2{color: #6d0182; font-size: 1.2em;}
                
p{color: white;}

img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}